@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Tera:wght@100..900&family=Lexend+Zetta:wght@100..900&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Oswald:wght@200..700&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif;
    --fonte2: "Passion One", sans-serif;
    --fonte3: "Sriracha", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html,body{
    background-color: darkgray;
    min-width: 100vh;
    font-family: var(--fonte1);
}

header{
    background-color: black;
    color: white;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte2);
    font-size: 10vw;

}

header > p{
    padding-bottom: 50px;
}

a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}
footer{
    background-color: black;
    text-align: center;
    color: white;
    padding: 7.6px;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 35px;
    font-family: var(--fonte3);
    font-size: 2.8vw;
    
}

section.normal{
    background-color: white;
    color: black;

}

section.imagem{
    background-color: rgb(43, 42, 42);
    color: white;
    
}

section.imagem > p{
    background-color: rgb(37, 37, 37);
    display: inline-block;
    padding: 8px;
}



