body{
    font-family: Arial, Helvetica, sans-serif;
}

td,th{
    border: 1.5px solid black;
    padding: 5px;
}

table{
    width: 500px;
    border-collapse: collapse;
    position: relative;
}

caption{
    padding: 10px;
    font-size: 1.3em;
    text-align: left;

}

div{
    background-color: rgb(155, 145, 145);
    width: 800px;
    padding: 5px;

}


tbody > tr:nth-child(2n){
    background-color: lightgray;
    
}
